@import url(https://fonts.googleapis.com/css?family=Nixie+One);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300);

body{
	font-family: 'Roboto', sans-serif;
}


h1{
	font-family:'Nixie One', cursive;
	font-size:72px;
}

a:link{
	text-decoration: none;
	color:black;
}
a:visited{
	color:black;
}
a:hover{
	color:gray;
}

header{
	display:inline-block;
	margin-left:4%;
}

h1{
	margin-bottom:0;
}

#header_sub{
	margin-top:0;
}

nav{
	display:inline-block;
	float:right;
	margin-top:50px;
	width:40%;
}

li{
	display:inline;
	padding-right:5%;
}

#photo{
	margin-left:4%;
	display:inline-block;
	width:40%;
}


#introduction{
	display:inline-block;
	width:40%;
	float:right;
}



footer{
	clear:both;
}