.blog_post{
	margin-left:4%;
	display:inline-block;
	width:60%;
}
.blog_img{
	width:60%;
	margin:auto;
}


.img_text{
	margin-top:0;
	font-size:.75em;
	font-style: italic;
}

h3{
	text-align: center;
}